#create-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #quiz-details {
    margin: 15px 0;
 }

 #create-game label {
    margin: 7px;
 }

 #create-game input {
    margin-right: 10px;
    color: black;
    border: lightgray;
    border-radius: 3px;
    height: 1.2rem;
 }

 .smaller {
    width: 40px;
 }

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    cursor: pointer;
    background-color: #344e41;
    border: none;
    margin: 15px;
    width: 125px;
    height: 2rem;
    border-radius: 15px;
    font-weight: 600;
}

.buttons button:hover {
    filter: brightness(110%);
}

@media only screen and (max-width: 450px) {
    .buttons button {
        width: 100px;
        margin: 8px;
        font-size: 12px;
    }
}