
.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    cursor: pointer;
    background-color: #344e41;
    border: none;
    margin: 15px;
    width: 125px;
    height: 2rem;
    border-radius: 15px;
    font-weight: 600;
}

.buttons button:hover {
    filter: brightness(110%);
}