#create-game{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.question-form {
    display: flex;
    justify-content: center;
    margin: 20px;
    border-radius: 8px;
    padding: 15px;
    background-color: #dad7cd;
}

.question-form form {
    display: flex;
    flex-direction: column;
    background-color: #dad7cd;
}

.question-form label {
    background-color: #dad7cd;
    color: black;
    margin: 5px 0;
}

.question-form input {
    height: 1.5rem;
    border-radius: 3px;
    background-color: white;
    color: black;
    margin-bottom: 5px;
    border: 1px solid gray;
}

.question-form select {
    background-color: white;
    color: black;
    border: 1px solid gray;
    height: 1.7rem;
    border-radius: 3px;
    margin-bottom: 15px;
}

.question-form select:focus {
    outline: none;
}

.same-row {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #dad7cd;
}

.question-form label {
    color: #3a5a40;
    font-weight: 500;
}

.column {
    display: flex;
    flex-direction: column;
    background-color: #dad7cd;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    cursor: pointer;
    background-color: #344e41;
    border: none;
    margin: 15px;
    width: 125px;
    height: 2rem;
    border-radius: 15px;
    font-weight: 600;
}

.buttons button:hover {
    filter: brightness(110%);
}

#correct-answer {
    width: 40px;
}

#question-type {
    width: 145px;
}

#question {
    width: 375px;
}
