.container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#host p {
    margin-bottom: 10px;
}

#create-game-link {
    color: white;
}

.quiz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dad7cd;
    border-radius: 8px;
    width: 330px;
    height: 70px;
    margin-bottom: 30px;
}

.quiz h1 {
    color: #333333;
    margin-left: 7px;
    transition: transform 0.1s; 
}

.svg-container {
    position: relative;
    right: 8px;
    width: 35px;
    height: 35px;
    transition: transform 0.5s;
}

.quiz h1:hover, .svg-container:hover {
    cursor: pointer;
    transform: scale(1.05);
}

@media only screen and (max-width: 300px) {
    #host p {
        margin-bottom: 20px;
    }

    .quiz {
        width: 225px;
    }
}