 #quiz-details {
    margin: 15px 0;
 }

 #create-game label {
    margin-right: 10px;
 }

 #create-game input {
    margin: 1px 10px 10px 0;
    color: black;
    border: lightgray;
    border-radius: 3px;
    height: 1.3rem;
 }

 .smaller {
    width: 40px;
 }

.form-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    cursor: pointer;
    background-color: #344e41;
    border: none;
    margin: 15px;
    width: 125px;
    height: 2rem;
    border-radius: 15px;
    font-weight: 600;
}

.buttons button:hover {
    filter: brightness(110%);
}

@media only screen and (max-width: 450px) {
    #quiz-details {
        display: flex;
        flex-direction: column;
    }

    #quiz-details input {
        margin-bottom: 5px;
    }

    .buttons button {
        width: 100px;
        margin: 8px;
        font-size: 12px;
    }
}