.form {
    background-color: #dad7cd;
    padding: 0 25px 25px 25px;
    border-radius: 10px;
}

.login-signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-signup-container input {
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    color: black;
}

.login-signup-container button {
    cursor: pointer;
    width: 15.4rem;
    padding: 6px 0;
    line-height: 23px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    background-color: #333333;
}

.login-signup-container button:hover {
    filter: brightness(108%);
}

.button-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h1, .login-signup-container label, .signup {
    color: #3a5a40;
}