.logo-container {
    position: fixed;
    top: 0;
    height: 45px;
    width: 100%;
    z-index: 10;
    background-color: #588157;
}

@media only screen and (max-width: 750px) {
   .logo-container {
        display: flex;
        justify-content: center;
    }
}