.grid-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 20px;
    column-gap: 30px;
}

#short-answer {
    padding: 15px;
}

#multiple-choice {
    padding: 0;
}

#short-answer, #multiple-choice {
    margin: 20px 0 0 0;
}

#short-answer h2, #multiple-choice h2 {
    color: #344e41
}

.multiple-choice-answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.multiple-choice-answers div {
    cursor: pointer;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a3b18a;
    border-radius: 5px;
}

.multiple-choice-answers div:hover {
    background-color: #344e41;
}

.multiple-choice-answers div h4 {
    color: white;
}

#short-answer input{
    width: 350px;
    height: 1.5rem;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-bottom: 5px;
    border: 1px solid lightgray;
}

#short-answer button {
    cursor: pointer;
    background-color: #344e41;
    border: none;
    margin: 15px;
    width: 150px;
    height: 2.5rem;
    border-radius: 20px;
    font-weight: 600;
}

#short-answer button:hover {
    filter: brightness(110%);
}

#score {
    position: relative;
    bottom: 175px;
    left: 325px;
    border: 2px solid #344e41;
    border-radius: 5px;
    padding: 8px;
}

#score h2 {
    margin-bottom: 5px;
}

#score h1 {
    margin-top: 0;
}